@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    @if (ViewBag.Error != null)
    {
       <div class="alert alert-danger mt-2">@ViewBag.Error</div>
    }
</form>

<p>Don't have an account> <a href="@Url.Action("Register","Account")">Register here</a></p>